﻿
@{
    ViewData["Title"] = "Autorization";
}

<h2>Autorization</h2>

<form action="/Notes/Autorization">
    <label for="login">Login</label> <input type="text" name="login" />
    <br />
    <label for="password">Password</label> <input type="text" name="password" />
    <br />
    <input type="submit" value="Войти" />
</form>

<form action="/Notes/Registration">
    <input type="submit" value="Регистрация" />
</form>
