﻿
@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>

<form action="/Notes/Registration">
    <label for="login">Login</label> <input type="text" name="login" />
    <br />
    <label for="password">Password</label> <input type="text" name="password" />
    <br />
    <input type="submit" value="Регистрация" />
</form>