﻿@{
    ViewData["Title"] = "ChangeNote";
}

<form action="/NoteStorage/SaveNote">
    <label for="name">Name</label> <input type="text" name="name" value=@ViewData["Name"] />
    <br />
    <label for="text">Text</label> <textarea type="text" name="text">@ViewData["Text"] </textarea>
    <br />
    <input type="submit" value="Change" />
</form>


<form action="/NoteStorage/GetList">
    <input type="submit" value="Все заметки" />
</form>