﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    foreach(var file in ViewBag.AllNotes)
    {
        var name = new System.IO.StreamReader(file).ReadLine();
        <a href="NotePreview?path=@file">Заметка: @name</a>
        <br />
    }
}
