﻿
@{
    ViewData["Title"] = "Create Note";
}

<h2>Index</h2>

<form action="/NoteStorage/SaveNote">
    <label for="name">Name</label> <input type="text" name="name" />
    <br />
    <label for="text">Text</label> <textarea type="text" name="text"> </textarea>
    <br />
    <input type="submit" value="Save" />
</form>


<form action="/NoteStorage/GetList">
    <input type="submit" value="Все заметки" />
</form>