﻿
@{
    ViewData["Title"] = "NotePreview";
}

<h2>NotePreview</h2>
<h2>@ViewData["name"]</h2>
<p>@ViewData["text"]</p>

<a href="DownloadNote?path=@ViewData["Path"]">Download</a>
<a href="ChangeNote?path=@ViewData["Path"]">Change</a>
<a href="DeleteNote?path=@ViewData["Path"]">Delete</a>
