﻿
@{
    ViewData["Title"] = "SaveNote";
}

<h2>Ваша заметка была успешно сохранена</h2>

<h3>@ViewData["Name"]</h3>
<p>@ViewData["Text"]</p>

<form action="Index">
    <input type="submit" value="Вернуться на главную" />
</form>